# =====================================
# MySQL / 本地YUM源
# =====================================

[database_mysql]
name=Database MySQL
baseurl=file://{{ directory_mysql_install_media_unzip }}
gpgcheck=0
