
# =====================================
# Linux 文件：/etc/hosts
# =====================================

# Default
#127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
#::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Local
# -- IPV4
127.0.0.1        localhost
# -- IPV6
::1              localhost

# 主网卡 / Public
{% for item in host_info %}

# --- Host: {{ item.name }}
{{ item.ip }}   {{ item.name }}
{% endfor %}

# =====================================
# Finished
